<% if (errors) { %>
  <ul class="validation-errors">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<section class="account-management">
  <h1><%= title %></h1>

  <%- messages() %>

  <% if (accountData) { %>
    <p>Welcome <%= accountData.account_firstname %> <%= accountData.account_lastname %>.</p>
  <% } else { %>
    <p>Welcome.</p>
  <% } %>

  <p>You're logged in.</p>
</section>
